﻿<!DOCTYPE html>
<html>
<head>
   <title>Canvas code example</title>
    <script src="https://code.jquery.com/jquery-2.2.2.min.js"
            integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/scripts/myjs.js">
   </script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/mathjs/3.1.0/math.min.js"></script>
</head>
<body>
    
    y = <input type="text" id="formula_field" />
    <button onclick="draw($('#formula_field').val())">Submit</button>
    
    <br/>
   <canvas id="canvas" width="508" height="508"></canvas>
</body>
</html>